html {
  background:#FFFFFF
}
p {
  text-align: center;
  font-family: gill sans, sans-serif;
  font-size: 21px;
  margin-left: auto;
  margin-right: auto;
  margin-top:3px;
  margin-bottom:8px;
  color: white;
}

h1 {
  font-family: gill sans, sans-serif;
  font-size: 45px;
  text-align: center;
  margin-top: 7%;
  color:#02b1a5;
}

h3 {
  text-align: center;
  position: absolute;
  top: 75.4%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: gill sans, sans-serif;
  font-style: italic;
  font-size: 21px;
}

img{
  display:flex;
}

button {
    background-color: #34DEC5;
    border: none;
    border-radius: 32px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 7px 7px 7px 7px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
  }

  button:hover {
    background-color: white;
    border: 2px solid #23bdb5;
    color: black;
  }

  .difficulty {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .notes {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 70%;
  }

  .begin{
    font-size: 60px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .p {
    text-align: center;
  }

  #footer {
    align-content: center;
    position: fixed;
    font-size: 16px;
    background-color: #02c5b9;
    color: black;
    overflow: hidden;
    margin-top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%
  }

  #notePic {
  margin-left: auto; 
  margin-right: auto; 
  width: 648px;
  margin-top: -30px;
  overflow:hidden;
}